.container {
  color: var(--genai-color-white);
  position: relative;
  background: linear-gradient(90deg, #0e1566 0%, #2c2cb6 100%);
}

.content {
  margin: 0 auto;
  padding: 64px 32px 32px;
  position: relative;
  max-width: var(--max-container-width);
}

.icon {
  margin: auto;
  display: block;
  width: fit-content;
}

.title {
  font-weight: 500;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: center;
}

.description {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  text-align: center;
  margin-top: var(--margin-size);
}

.lightBackground {
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  position: absolute;
  background: radial-gradient(
    58.09% 39.47% at 50% 105.5%,
    #2c2cb6 49.95%,
    rgba(44, 44, 182, 0) 100%
  );
}
